# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# JVM Crash logs (Added to stop those hs_err_pid files)
hs_err_pid*
replay_pid*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related (Uncommented to prevent local editor settings leaks)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android specific
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json
